<span class="preheader">{{ title }}</span>
<div class="header">
    <table>
        <tr>
            <td class="align-center">
                <a href="https://www.geosurf.com">
                    <img src="https://www.geosurf.com/email-img/logo.png" height="50" alt="Hello from Geosurf :)">
                </a>
            </td>
        </tr>
    </table>
</div>